<div class="flex flex-col min-h-screen bg-gray-100">
    <div class="header">
        <div class="header-container">
            <div class="search-box">
                <i class="fas fa-search search-icon"></i>
                <input placeholder="Search Symptoms, Doctors, Specialists, Clinics" class="search-input" type="text"
                    [(ngModel)]="searchQuery" (input)="searchByName(searchQuery)" />
            </div>
        </div>
    </div>


    <div class="custom-container">

        <div class="filter-panel">

            <div class="sort-section">
                <p class="section-title">Sort by</p>

                <div class="option-group">
                    <label class="option-item">
                        <input type="radio" name="sortFees" [(ngModel)]="selectedSortOption" [value]="'lowToHigh'"
                            (change)="sortByFeesLowToHigh()" />
                        Price: Low-High
                    </label>

                    <label class="option-item">
                        <input type="radio" name="sortFees" [(ngModel)]="selectedSortOption" [value]="'highToLow'"
                            (change)="sortByFeesHighToLow()" />
                        Price: High-Low
                    </label>

                </div>
            </div>

            <div class="filter-section">
                <p class="section-title">Filters</p>

                <p class="subsection-title">Specialities</p>
                <div class="option-group">
                    <label class="option-item">
                        <input type="checkbox" [checked]="specialties['General Physician']"
                            (change)="toggleSpecialityFilter($event,'General Physician')" /> General
                        Physician
                    </label>
                    <label class="option-item">
                        <input type="checkbox" [checked]="specialties['Ayurveda']"
                            (change)="toggleSpecialityFilter($event, 'Ayurveda')" />
                        Ayurveda
                    </label>
                    <label class="option-item">
                        <input type="checkbox" [checked]="specialties['Homeopath']"
                            (change)="toggleSpecialityFilter($event, 'Homeopath')" />
                        Homeopath
                    </label>
                    <label class="option-item">
                        <input type="checkbox" [checked]="specialties['Dentist']"
                            (change)="toggleSpecialityFilter($event, 'Dentist')" />
                        Dentist
                    </label>
                    <label class="option-item">
                        <input type="checkbox" [checked]="specialties['ENT']"
                            (change)="toggleSpecialityFilter($event, 'ENT')" />
                        ENT
                    </label>
                    <label class="option-item">
                        <input type="checkbox" [checked]="specialties['Psychiatrist']"
                            (change)="toggleSpecialityFilter($event, 'Psychiatrist')" />
                            Psychiatrist
                    </label>
                </div>


                <p class="subsection-title">Mode of consultation</p>
                <div class="option-group">
                    <label class="option-item">
                        <input type="radio" name="sort" [(ngModel)]="selectedConsultation"
                            [value]="'Video Consultation'" (change)="applyFilters()" /> Video Consultation
                    </label>
                    <label class="option-item">
                        <input type="radio" name="sort" [(ngModel)]="selectedConsultation"
                            [value]="'In-clinic Consultation'" (change)="applyFilters()" /> In-clinic Consultation
                    </label>
                    <label class="option-item">
                        <input type="radio" name="sort" [(ngModel)]="selectedConsultation" [value]="'All'"
                            (change)="applyFilters()" /> All
                    </label>
                </div>
            </div>
        </div>


        <div class="w-[1000px] space-y-4">
            <div *ngFor="let doc of filteredDoctors"
                class="flex justify-between items-center bg-white p-4 rounded shadow">
                <div class="flex gap-4 items-start">
                    <img [src]="doc.photo" alt="NotFound" class="rounded-full h-16 w-16 object-cover" />
                    <div>
                        <h2 class="font-semibold text-lg">{{ doc.name }}</h2>
                        <p class="text-sm">{{ doc.specialities[0]?.name }}</p>
                        <p class="text-sm text-gray-600">{{ doc.experience }}</p>
                        <p class="text-sm text-gray-700">{{ doc.clinic.name }}</p>
                        <p class="text-sm text-gray-600">{{ doc.clinic.address.locality }}</p>
                    </div>
                </div>
                <div class="flex flex-col items-end gap-2">
                    <p class="font-semibold">{{ doc.fees }}</p>
                    <button class="border px-4 py-1 rounded">Book Appointment</button>
                </div>
            </div>
        </div>
    </div>
</div>